<div class='container'>
<h1>Viewing All Users</h1>
<% if flash[:notice] || flash[:alert] %>
    <div class='flash'><%= flash[:notice] || flash[:alert] %></div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="8"></th>
    </tr>
  </thead>
  <tbody>
    <div id='users-container'>
      <tr>
        <% @users.each do |user| %>
          <td><p class="prof-name"> <%= user.profile_name %> </p></td>
          <td><p class="photo"> <%= link_to(image_tag(user.photo_url), user) %></p> </td>
      </tr>
        <% end %>
    </div>
  </tbody>
  </table>
  </div>





