<h1>Welcome</h1>
  <h3>Welcome to Chatter</h3>
  <p>The chattiest place on the web</p>


<div class="col-md-8"></div>
<ul>
  <% @chats.each do |chat| %>
      <li>
        <%= chat.message %>

      </li>
  <% end %>
</ul>
