<div class='container'>
<h1>Welcome</h1>
  <h3>Welcome to Chatter</h3>
  <p>The chattiest place on the web</p>

<li role="presentation">Become A User
     <%= render 'form' %>
    </li>
    <li role="presentation">Create New Chat<%= render 'chatform' %></li>
<!-- <div class="col-md-8"></div> -->
<ul>
  <% @chats.each do |chat| %>
      <li>
        <p><%= chat.message %></p>
        <p class="time-stamp"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Created <%= time_ago_in_words(chat.created_at) %> ago</p>

      </li>
  <% end %>
</ul>
</div>
